body{
    background-color: #0a0101;
    color: #f3eaea;
}

article{
    background-color: #f5eded;
    color: rgb(8, 8, 8);
}

nav>ul>li{
    color: yellow;
}

#titulo-del-blog{
    text-align: center;
    font-size: 3rem;
    color: #ffffff;
}

.coche{
    color: rgb(0, 0, 0);
    background-color: #ffffff;
}