body{
    background-color: #cf0000;
    color: #ffffff;
}

article{
    color: rgb(202, 209, 199);
}

nav>ul>li{
    color: yellow;
}

#titulo-del-blog{
    text-align: center;
    font-size: 3rem;
    color: #ffffff;
}